<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <typeAlias alias="userModel" type="com.atm.spring.activiti.model.UserModel" />
        <typeAlias alias="leaveModel" type="com.atm.spring.activiti.model.LeaveModel" />
    </typeAliases>

    <mappers>
        <mapper resource="sql/UserMapper.xml" />
        <mapper resource="sql/LeaveMapper.xml" />
    </mappers>

</configuration>